@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
@keyframes done {
    70% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

html {
    font-family: BMJUA
}

*, ::before, ::after {
    box-sizing: border-box
}

body, div, button, h1 {
    font: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: 0
}



#title {
    font-size: 3rem;
    margin: 2rem 0
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

#numbers {
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid pink;
    text-align:center;
}

#lotto-title{
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}

#whatisdate{
    height: 45px;
    font-size: 25px;
}

.deadline{
    text-align:left;
}

.lotto-list {
    display: block;
}

.list-sum{
    margin-top: 0px;
}




.ball {
    width: 28px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}

.lotto-tag {
    width: 38px;
    height: 45px;
    line-height: 80px;
    border-radius: 50%;

    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    display: inline-block;
}
#lotto-2-button {
    position: relative;
    display: block;
    padding: 1rem 2.5rem 1.6rem;
    background: #fff;
    color: #666;
    border: 2px solid #666;
    border-radius: 6px;
    overflow: hidden;
    transition: .5s;
    user-select: none
}

#lotto-2-button:hover {
    padding: 1rem 2.5rem 1rem;
    margin-top: .6rem;
    background: #999;
    color: #fff
}

#lotto-2-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: .6rem;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #666;
    transition: .5s
}

#lotto-2-button:hover::after {
    transform: translateY(.6rem)
}

#lotto-2-button.hide {
    transform: scale(0)
}

@media screen and (max-width: 800px) {
    #numbers {
        flex-direction: column;
        align-items: center
    }

    #numbers .ball {
        width: 22px;
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 10px
    }

    #numbers .lotto-tag {
        width: 35px;
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 10px
    }

    .lotto-list {
        height: 38px;
    }

    #publish-day{
        font-size: 12px;
    }

    #raffle-day{
        font-size: 12px;
    }
    
    #payments-day{
        font-size: 12px;
    }
}